:root {
    --yellow: #f6a001;
    --yellow-rgb: 246, 160, 1;
    --blue-lighter: #e0e6ea;
    --blue: #91BED4;
    --blue-dark: #003354;
    --grey: #ccc;
    --grey-darkest: #333;

    --darkmode-100: #121212;
    --darkmode-rgb-100: 18, 18, 18;
    --darkmode-200: #3f3f3f;
    --darkmode-rgb-200: 63, 63, 63;
    --darkmode-300: #575757;
    --darkmode-rgb-300: 87, 87, 87;
    --darkmode-400: #717171;
    --darkmode-rgb-400: 113, 113, 113;
    --darkmode-500: #8b8b8b;
    --darkmode-rgb-500: 139, 139, 139;
}